@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-2xl font-bold mt-12 mb-2 px-2 pb-4
}

ul.pagination {
    @apply justify-center relative z-0 inline-flex rounded-md shadow-sm -space-x-px
}

ul.pagination li {
    @apply relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50
}

ul.pagination li.active {
    @apply text-gray-300
}

tbody { @apply space-y-4 }

tr { @apply my-4 }

tbody tr {@apply border-b border-gray-200 }

th {
    @apply text-gray-400 px-6
}

.good { @apply text-green-500 }
.bad { @apply text-red-500 }

.multicols {
    @apply px-2 py-4;
    column-count: 2;
    column-gap: 40px;
    column-width: auto;
}

td { @apply align-top px-6 py-2 leading-7 }

.padding_cut_right { @apply pr-2 }
.padding_cut_left { @apply pl-2 }

.showmore_cut { display: none;}

.showmore_button { @apply text-gray-400 }

.small_table_header { @apply w-8 text-right }
.medium_table_header { @apply w-20 text-right }
.small_table_header_left { @apply w-8 text-left }
.big_table_header { @apply w-80 text-left }
.tf {@apply table-fixed}
.right { @apply text-right }

.blue { color: #0099ff; @apply font-bold}

.black { color: black; }

a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #0099ff;
  text-decoration-thickness: .125em;
  text-underline-offset: 0.2em;
}

li.active a {
    text-decoration: none;
}

table {
    overflow-x: scroll;
    white-space: nowrap;
}