{{ partial "head.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="sm:container sm:mx-auto">
<h1>{{ .Title }}</h1>
    <ul class="multicols">
    {{ range .Paginator.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
</div>

<div class="flex justify-center py-1">{{ template "_internal/pagination.html" . }}</div>
<!-- <div class="md:container justify-center">{{ template "_internal/pagination.html" . }}</div> -->
{{ partial "footer.html" . }}
